body {
    background-image: url(../img/food.png);
}


/* Pembersih Float */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* Batas Script */


/*header*/

header {
    width: 100%;
    height: max-content;
    position: fixed;
    display: inline-block;
    background-color: #1a1c20;
    box-shadow: 0px 5px 20px 2px #55525248;
    z-index: 99999;
}

.header-logo {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.btnheader {
    float: right;
}


/*dropdown*/

.dropdown-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.dropdown-list li {
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
}

.dropdown-list li a,
.dropbtn {
    display: inline-block;
    color: #cf7500;
    text-align: center;
    padding: 5px 7px;
    text-decoration: none;
}

.dropdown-list li a:hover,
.dropdown:hover .dropbtn {
    color: white;
}

.dropdown-list li.dropdown {
    display: inline-block;
}

.dropdown-list .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1c20;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-list .dropdown-content a {
    color: #cf7500;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
}

.dropdown-list .dropdown-content a:hover {
    background-color: #cf7500;
}

.dropdown-list .dropdown:hover .dropdown-content {
    display: block;
}


/* end */

.logo p {
    color: #cf7500;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    float: right;
    line-height: 20px;
}

.logo p span a {
    text-decoration: none;
    color: #cf7500;
}

.logo img {
    width: 15px;
    float: left;
}

.logo {
    float: left;
}


/* sosmed header */

.sosmed {
    position: fixed;
    width: 100%;
    text-align: center;
    top: 10px;
}

.hov,
.sosmed a {
    margin: 0 5px;
    text-decoration: none;
}

.sosmed li {
    position: relative;
    display: inline;
}

.sosmed li .hov {
    display: inline;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: .3s;
    margin-top: 0;
}

.sosmed li a:hover .hov {
    opacity: 1;
}

.sosmed img {
    width: 20px;
}


/* Batas Sosmed */


/* Batas style Header*/


/* Button template */

button {
    cursor: pointer;
    border: 2px solid #cf7500;
    background-color: #cf7500;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    transition: .3s;
    outline: 0;
}

.btn-order-ico {
    display: none;
}

button:hover {
    background-color: rgba(255, 126, 87, 0);
    color: #cf7500;
    text-decoration: none;
}


/* Batas Button Template */


/* Jumbotron */

.jumbotron {
    height: 300px;
    margin-bottom: 50px;
    background-color: #1a1c20f3;
}


/*flexbox*/

.attribute,
.topping {
    display: flex;
}

.attribute {
    border-radius: 5px;
    margin: 100px 85px 50px 50px;
    width: 50%;
    height: 100px;
    float: right;
}

.attribute .box1 img {
    width: 60px;
    margin: 20px;
    line-height: 100px;
}

.box1,
.box2 {
    flex-grow: 1;
    margin: 0 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.box2 {
    overflow: hidden;
}

.topping {
    width: 90%;
    height: 100px;
    margin: auto;
}


/* Carousel */

.car {
    width: 90%;
    height: auto;
    overflow: hidden;
    margin: auto;
    padding: 20px 10px;
}

.item {
    background-color: #f4f4f4;
    height: 100px;
}

.owl-dots {
    display: none;
}


/*end flexbox*/


/* end jumbotron */


/*footer*/

footer {
    background-color: #1a1c20;
    height: max-content;
    position: relative;
}


/* nav-footer */

.nav-footer {
    background-color: rgb(16, 17, 17);
}


/*nav*/

nav {
    padding: 5px;
    padding-bottom: 13px;
    top: 20px;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
}

.menu {
    font-size: 1em;
    text-decoration: none;
    color: rgb(106, 146, 148);
    padding-bottom: 10px;
    border: 2px solid rgba(53, 88, 141, 0);
}


/*.active,*/

.menu:hover {
    color: #cf7500;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(53, 88, 141);
}


/*end nav*/


/* sosmed footer */

.sosmed-bawah {
    width: 100%;
    float: left;
}

.hov,
.sosmed-bawah a {
    margin: 5px;
    line-height: 29.5px;
    text-decoration: none;
}

.sosmed-bawah li {
    position: relative;
    display: inline;
}

.sosmed-bawah li .hov {
    display: inline;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: .3s;
}

.sosmed-bawah li a:hover .hov {
    opacity: 1;
}

.sosmed-bawah img {
    width: 15px;
}


/* Batas Sosmed */

.right {
    float: right;
}

aside {
    float: left;
    width: 40%;
}


/*end footer*/